/**/
body {
  margin: 0; /*убрали отступы по краям*/
  font-family: "Fira Sans", sans-serif; 
  /*Вставлено с сайта fonts.google.com, шрифты смотрели в Фигме какие были в шаблоне*/
  font-size: 16px;
  color: #111238;
}
.menu {
  list-style: none; /*Убрали точки у списка в меню*/
  padding: 0; /*Отключили внутренний отступ элемента меню (где были точки)*/
  margin: 0; /*Отключили внешние отступы*/
}
.menu-item:not(:last-child) {
  /*not(:last-child) относится ко всему списку, кроме последнего элемента*/
  margin-right: 20px; /*Внешний отсутп справа*/
}
.menu-link {
  color: #111238; /*Цвет текста меню из Фигмы на вкладке Inspect внизу*/
  text-decoration: none; /*Убрали подчеркивание текста меню*/
}
.button {
  text-decoration: none; /*Убрали подчеркивание под словами "Войти" и "Регистрация"*/
  display: inline-block;/*Чтобы можно было менять отступы, отодвигать и тд*/
}
.button-link {
  color: #111238;
  padding: 10px;
  margin-right: 30px;
}
.button-primary {
  background: #1A75E8; /*Фон кнопки*/
  border-radius: 5px; /*Скругленные скобки*/
  padding-top: 15px; /*Отступ сверху кнопки*/
  padding-right: 30px;/*Отступ справка кнопки*/
  padding-bottom: 15px;
  padding-left: 30px;
  color: #fff /*цвет текста белый*/
}
